{% extends "_default.html" %}

{% block head %}
<title>Documentation :: RBN-DOCS</title>
<style>
pre { overflow:auto; }
</style>
{% endblock %}

{% block body %}
<div class="
        ph2 ph4-m ph5-l
        mw9 mw8-ns
        ml-auto mr-auto">

    <!-- standardised header -->
    <h1 class="
            f1 ma0 pt4 fw6 tc
            flex justify-center items-center">
        <a href="/" title="back to front page..." class="mr3">
            <img src="/artwork/logo.ebotmasters.medium.png" width="80" />
        </a>
        <span class="title-font theme-primary dn">
            RBN-DOCS
        </span>
        <div class="tl lh-copy">
            <div class="
                    di db-m f2
                    flex flex-column
                    retro-font">
                Documentation
            </div>
        </div>
    </h1>
    <!-- END: standardised header -->

    <article class="lh-copy">
        <h2 id="code-spinbot" class="white retro-font">
            ARENA
        </h2>
        <p>
            When accessing an arena,
            the page will look like this:
        </p>
        <img class="mv1 shadow-3" src="/screenshots/ui.arena.png" />
        <p>
            Arenas only pause when:
            <ul class="pl3">
                <li>
                    <strong>Waiting for robot connection</strong>,
                        usually with browser robots.
                    <br />
                    Displayed as a red "(precheck) ..." error
                    in the sidebar.
                    <br />
                    <i>Just connect a brain via the Robot Control Panel.</i>
                </li>
                <li>
                    <strong>Other robot errors</strong>
                    <br />
                    Displayed in sidebar as red text
                    under a robot.
                </li>
                <li>
                    <strong>The simulation has stopped</strong>
                    <br />
                    Notification shown at the top of the screen.
                </li>
            </ul>
        </p>
        <p>
            Additional details are shown below the current Arena:
        </p>
        <p>
            Get a
            <strong>Robot ID and Key</strong>
            from Arenas, which can be used to upload robots via the
            <a href="/robot/update">Robot Manager</a>.
            Direct uploads from the Robot Control Panel is also possible.
        </p>
        <p>
            The Robot ID can be used
            to add uploaded robots into other arenas via the
            <a href="/#container-arena-builder">Arena Builder</a>.
        </p>
    </article>

    <article class="lh-copy">
        <h2 id="code-spinbot" class="white retro-font">
            Robot Control Panel
        </h2>
        <p>
        To write and test client-side robots from the browser...
        </p>
        <ol class="pl3">
            <li>
                Open an
                <a href="/#container-arena-builder">Arena Builder</a>
                <a href="/#container-builder-presets">preset</a>
                that has at least one
                "<strong>browserbot</strong>" configured
            </li>
            <li>
                Click on the black box to open the
                <strong>Robot IDE</strong>
                <br />
                <img class="mv1 shadow-3" src="/screenshots/ui.rcp.start.png" />
            </li>
            <li>
                The
                <strong>Robot Integrated Development Environment (IDE)</strong>
                is where you test code:
                <br />
                <img class="mv1 shadow-3" src="/screenshots/ui.rcp.open.png" />
            </li>
            <li>
                Add/edit code in the
                <strong>Brain/Code Editor</strong>
            </li>
            <li>
                "Connect" - the arena will start after a few seconds
                <div class="pl3">
                    Pressing the button again will toggle the connection
                </div>
            </li>
            <li>
                "Upload" stores code into the server,
                "retrieve" loads it back
                <ul class="pl3">
                    <li>
                        Upload robots as many times as required
                    </li>
                    <li class="b">
                        Only one robot will be stored per arena
                    </li>
                </ul>
            </li>
        </ol>
    </article>

    <article class="lh-copy">
        <h2 id="code-spinbot" class="white retro-font">
            Robot Control Panel
        Robots
        </h2>
        <ul class="pl3">
            <li>
                Each robot has a "brain", consisting of functional code
            </li>
            <li>
                There are two types of robots:
                <ul class="pl3">
                    <li>
                        <b>browserbots</b>
                        run client-side in the browser
                    </li>
                    <li>
                        <b>serverbots</b>
                        run server-side and are uploaded browserbots
                    </li>
                </ul>
            </li>
            <li>
                Browserbots are used for development and testing
                <ul class="pl3">
                    <li>
                        Browserbots are always called
                        <code>Debug &lt;number&gt;</code>
                    </li>
                    <li>
                        Convert browserbots into serverbots via the
                        <a href="/robot/update">Robot Manager</a>
                    </li>
                    <li>
                        Serverbots run faster and have custom names and teams
                    </li>
                    <li>
                        Serverbots are harder to debug
                    </li>
                </ul>
            </li>
            <li>
                <b>
                    Robots receive
                    <code>context</code>
                </b>
                - "brain" input and output:
                <div>
                    <textarea
                        rows="10"
                        class="
                            click-select
                            mv1 f7 w-100 code
                            shadow-3 theme-primary
                            bg-dark-gray
                            "
                        readonly
                        >{% include 'robot.context.sample.txt' %}</textarea>
                </div>
                <ul class="pl3">
                    <li>
                        <code>context.state</code>
                        contains current information about the robot
                    </li>
                    <li>
                        robots have two main sensor inputs:
                        <ul>
                            <li>
                                <code>context.state.scanner</code>
                                list things in front of it
                            </li>
                            <li>
                                <code>context.state.proximity</code>
                                list things within close range
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <strong>
                    The "brain" sets
                    <code>context.action</code>
                    to control:
                </strong>
                <ul class="pl3">
                    <li>
                        <strong>robot rotation</strong> /
                        <code>.desiredAngle</code>
                        <br />
                        a number in radians,
                        maximum possible per frame is stored in
                        <code>context.state.maxRotate</code>
                    </li>
                    <li>
                        <strong>robot forward movement</strong> /
                        <code>.desiredForce</code>
                        <br />
                        a number representing force,
                        maximum possible per frame is stored in
                        <code>context.state.maxForce</code>
                    </li>
                    <li>
                        <strong>projectile launch</strong> /
                        <code>.desiredLaunch</code>
                        <br />
                        a boolean value, actual launch rate is
                        limited by the server
                    </li>
                    <li>
                        <strong>scan distance</strong> /
                        <code>.desiredScan</code>
                        <br />
                        a number, far scans are narrower; near scans are wider
                    </li>
                </ul>
            </li>
            <li>
                <code>context.round</code> contains information
                about the current round
            </li>
            <li>
                <b>Robots are stateless</b> and do not "remember" anything
                <div class="pl3">
                    Frame-to-frame storage is available with
                    <code>context.memory</code>
                </div>
            </li>
            <li>
                Code is run every frame,
                60 frames = 1 server second
            </li>
            <li>
                Robots are damaged by:
                <b>projectiles</b>,
                <b>robot bodies</b>,
                <b>walls</b>
            </li>
            <li>
                Serverbots are also damaged from
                <b>syntax errors</b>; and
                <b>brain timeouts</b>,
                caused by hanging code
                <div class="pl3">
                    Server-side damage show as blue sparks
                </div>
            </li>
            <li>
                Browserbots depend on the internet and run slower.
            </li>
            <li>
                A faster way to code and test robots
                is to <strong>run a local server</strong>.
                This platform is open-source, can run offline locally.
                The link is available in the page footer.
            </li>
        </ul>
    </article>

    <article class="lh-copy">
        <h2 id="code-spinbot" class="white retro-font">
            Competition Outline
        </h2>
        <p>
            <b>Important:</b>
            Rules may be updated in the interest of fair-play
            -  the organisers will always announce these beforehand.
        </p>
        <p>
            Competitions use a league and ranking system.
        </p>
        <ul class="pl3">
            <li>
                League group assignments are random.
                The number of robots per group are
                announced prior to the competition.
            </li>
            <li>
                Each match has two groups of robots
                battling several rounds.
            </li>
            <li>
                Match ordering is random and can run concurrently.
            </li>
            <li>
                The minimum number of rounds per match
                is the the total number of
                robots in the match.
            </li>
            <li>
                A round lasts at least 1 minute.
            </li>
            <li>
                When a round ends, robots are ranked based on:
                <ol>
                    <li>
                        survival, alive; followed by,
                    </li>
                    <li>
                        closest to center; followed by,
                    </li>
                    <li>
                        longest surviving; followed by,
                    </li>
                    <li>
                        highest health; followed by,
                    </li>
                    <li>
                        highest accuracy.
                    </li>
                </ol>
            </li>
            <li>
                Robots drawing at the same rank are penalised
                by the number of tied robots,
                e.g. three robots tied at rank 2, get rank 5 each.
            </li>
            <li>
                Average ranking of robots
                is displayed in a live leaderboard.
            </li>
        </ul>

    </article>
    
    <article class="lh-copy">
        <h2 id="code-spinbot" class="white retro-font">
            PREPARE FOR BATTLE!
        </h2>
        <ul class="pl3">
            <li>
                Treat the Arena ID as secret.
                Share it only if you have to.
            </li>
            <li>
                Test with the presets,
                <a href="/robot/samples">sample code</a>
                and your own too!
            </li>
            <li>
                <b>Always make offline copies of your work!</b>
                <div class="pl3">
                    Browserbots are
                    not auto-saved for you.
                </div>
            </li>
            <li>
                Robots must be uploaded for competitions.
                <ul class="pl3">
                    <li>
                        The
                        <a href="/robot/update">Robot Manager</a>
                        uploads/updates robots.
                    </li>
                    <li>
                        Serverbots reload brains every few seconds.
                    </li>
                    <li>
                        Running battles do not pause during reloads.
                    </li>
                    <li>
                        It is a valid strategy
                        to update robots in the middle
                        of a battle.
                    </li>
                    <li>
                        Test before uploads, serverbots are harder to debug.
                    </li>
                </ul>
            </li>
            <li>
                Monitor robot performance via the leaderboard and live arenas.
            </li>
            <li>
                Optionally have different brains with different strategies.
            </li>
        </ul>
    </article>

</div>
{% endblock %}
