.env
node_modules
static/noversion-*/*
static/compstates/*.json
static/simlogs/*.csv
static/simlogs/*.json
static/*.json
battle/brains/drivers-ext/*.json
!battle/brains/drivers-ext/fastbot.json
!battle/brains/drivers-ext/slowbot.json
!battle/brains/drivers-ext/spinbot.json
!battle/brains/drivers-ext/default.json
!battle/brains/drivers-ext/nothingbot.json
!battle/brains/drivers-ext/wanderbot.json
!battle/brains/drivers-ext/dancebot.json
notes.*
